@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 132, 255);
    font-size: 1em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

.parte-conteudo {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 700px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}

div {
    text-align: center;
    padding: 20px 40px;
}

#msg {
    font-size: 1.5em;
}

img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.rodape {
    margin-top: 30px;
    color: white;
    text-align: center;
    font-style: italic;
}